<div class="center hero-unit">
	<table>
		<td>
			<iframe width="350" height="400" src="https://www.youtube.com/embed/QkNrSpqUr-E?rel=0" frameborder="0" allowfullscreen></iframe>
		</td>
		<td>
			<h1>Welcome to Friggo</h1>

			<h2>
			Enabling you to sell your amazing content <b><u>directly</u></b> to your friends and followers.
			</h2>

			<%= link_to "Start Selling Now!", signup_path, class: "btn btn-large btn-primary" %>
		</td>
	</table>
</div>